<h1>Shopkin Tracker</h1>

<%= form_tag shopkins_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Pic</th>
      <th><%= sortable 'rating' %></th>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'number' %></th>
      <th><%= sortable 'series' %></th>
      <th><%= sortable 'rarity' %></th>
      <th><%= sortable 'team' %></th>
    </tr>
  </thead>

  <tbody>
    <% @shopkins.each do |shopkin| %>
      <tr>
        <td><%= link_to (image_tag "#{shopkin.image}", class: 'shopkin-thumbnail'), shopkin_path("#{shopkin.id}") %></td>
        <td>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </td>
        <td><%= shopkin.name %></td>
        <td><%= shopkin.number %></td>
        <td><%= shopkin.series %></td>
        <td><%= shopkin.rarity %></td>
        <td><%= shopkin.team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @shopkins %>
