<h1>Shopkin Tracker</h1>

<table>
  <thead>
    <tr>
      <th>Pic</th>
      <th>
          Rating
      </th>
      <th>
          Name
      </th>
      <th>
          Number
      </th>
      <th>
          Series
      </th>
      <th>
          Rarity
      </th>
      <th>
          Team
      </th>
    </tr>
  </thead>

  <tbody>
    <% @shopkins.each do |shopkin| %>
      <tr>
        <td><%= link_to (image_tag "#{shopkin.image}", class: 'shopkin-thumbnail'), shopkin_path("#{shopkin.id}") %></td>
        <td>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </td>
        <td><%= shopkin.name %></td>
        <td><%= shopkin.number %></td>
        <td><%= shopkin.series %></td>
        <td><%= shopkin.rarity %></td>
        <td><%= shopkin.team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @shopkins %>
